.quiz-main{
    height: max-content;
    justify-content: center;
}

.quiz-body{
    padding: 1rem;
    width: 40%;
    border-radius: 1rem;
    background-color: var(--bg-primary);
}

h2{
    text-align: center;
}

.question{ 
    font-size: 1.5rem;
}

.option-button{
    background-color: var(--text-primary) !important;
    color: var(--bg-primary);
}

.option-button:hover{
    background-color: var(--bg-primary) !important;
    color: var(--text-primary) !important;
    box-shadow: 0 6px 16px 0 var(--box-shadow);
}